body {
    background-color: #f5f5f5;
}

.testi {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

p {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
}